<% provide(:title, 'All users') %>
<h1>製造工程</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <li><%= link_to "印刷", print_path %></li>
  </li>
  <li class="nav-item">
    <li><%= link_to "ドライラミネート", drylaminate_path %></li>
  </li>
  <li class="nav-item">
    <li><%= link_to "押出しラミネート", exlaminate_path %></li>
  </li>
  <li class="nav-item">
    <li><%= link_to "スリット", slit_path %></li>
  </li>
  <li class="nav-item">
    <li><%= link_to "製袋", bagmake_path %></li>
  </li>
</ul>


<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
