<%= form_with(model: @item, local: true) do |f| %>
  <%= render 'items_text/error_messages_items', object: @item %>

  <%= f.label :productname, "製品名" %>
  <%= f.text_field :productname, class: 'form-control' %>

  <%= f.label :order_number, "注番" %>
  <%= f.text_field :order_number, :placeholder => "B20001",
                                   class: 'form-control' %>

  <%= f.label :product_date, "製造日", class: 'control-label' %>
  <%= f.date_field :created_at, class: 'form-control' %>

  <%= f.label :delivery_date, "納期", class: 'control-label' %>
  <%= f.date_field :created_at, class: 'form-control' %>

  <%= f.label :quantity, "手配数量" %>
  <%= f.text_field :quantity, :placeholder => "2000m・4000m・8000m・12000m",
                               class: 'form-control' %>
  <div class= "form-group">
    <%= f.label :process, "工程", class: 'control-label' %>
    <%= f.select :process, ["印刷・ラミネート・スリット", "印刷・スリット",
                            "印刷・ラミネート・製袋",
                            "印刷・ラミネート・スリット・製袋"],
                            include_blank: "選択してください",
                            class: 'form-control', required: true %>
  </div>

  <%= f.label :remarks, "備考" %>
  <%= f.text_field :remarks, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
