</li>
  <table class= "table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">製造名</th>
        <th scope="col">注番</th>
        <th scope="col">製造日</th>
        <th scope="col">納期</th>
        <th scope="col">手配数量</th>
        <th scope="col">工程</th>
        <th scope="col">備考</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= link_to item.productname, item %></td>
        <td><%= link_to item.order_number, item %></td>
        <td><%= link_to item.product_date, item %></td>
        <td><%= link_to item.delivery_date, item %></td>
        <td><%= link_to item.quantity, item %></td>
        <td><%= link_to item.process, item %></td>
        <td><%= link_to item.remarks, item %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to "編集", edit_item_path(item.id), class: "btn btn-primary" %>
  <%= link_to "削除", item, method: :delete,
                            data: { confirm: "「#{@item.productname}」を削除します。よろしいですか？" },
                            class: 'btn btn-danger' %>
</li>
